<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <h1>DOM 탐색</h1>
    <div id="news">
        <div id="articles">
            <div id="article-1">article 1</div>
            <div id="article-2">article 2</div>
            <div id="article-3">article 3</div>
            <div id="article-4">article 4</div>
        </div>
    </div>

    <script>
    

    var articles = document.getElementById('articles');
    console.log(articles);
    //parentNode
    console.log(articles.parentNode);
    //firstChild, lastChild
    console.log('첫번째 자식');
    console.log(articles.firstChild);
    console.log('마지막 자식');
    console.log(articles.lasttChild);
    //hasChildNodes
    console.log('자식을 가지고 있는지');
    console.log(articles.hasChildNodes);
    //childNodes
    console.log(articles.childNodes);  
    //children

    //previousSibling, nextSibling
    console.log(element2.previousSibling);  
    console.log(element2.nextSibling);  

</script>
</body>
</html>